.tabs .active{
  background: #8D2373;
}

.content{
  background: #7D71D8;
}

body{
  background:#8E41D5;
}
.tabs{
  font-family: 'Ubuntu', sans-serif;
  font-size: 150%;
  text-align:center;
}
h1{
  font-family: 'Ubuntu', sans-serif;
  font-size:250%;
  text-align:center;
}
.editTab{
  font-family: 'Ubuntu', sans-serif;
  text-align:center;
}